body {
  background-color: lightgray;
  background-image: url(PC.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

h1 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h2 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h3 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h4 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

.borderstuff {
  border: 10px solid black;
  background-color: yellow;
  padding: 10px;
  margin: 20px;
  width: 200px;
}

.header {
    color: yellow;
    background-color: purple;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.centering {
  text-align: center;
}

.justifying {
  text-align: justify;
}

/* CSS */
a {
  color: #ff0000;
}

a:link {
  color:#ff0000;
}

a:visited {
  color:#00FF00;
}

a:active {
  color: #00ffff;
}

a:hover {
  color: #ffff00;
}    

#makepurple {
    color:rgb(255, 0, 217)
}

.makeblue {
    color: #00f;
    background-color: red;
}

b {
    color: purple
}

.header3 {
    color: purple;
    background-color: #00FF00;
}

li {
    color: brown;
}

p {
    color: rgb(0, 136, 91);
}

